* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: black;
}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

/* Header Index */

.header {
    background-color: #fcc757;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__logo {
    width: 150px;
    height: 130px; 
}

.input-group{
    width: 400px;
    height: 30px;
    align-self: center;
}

.header__cuenta {
    font-size: 20px;
    font-weight: bold;
}

.header__compra {
    background-color: rgba(185, 185, 185, 0.4);
    border-radius: 30px;
    width: 140px;
    padding: 0.5rem;
}

.header__carrito{
    font-size: 20px;
}

.header__precio{
    font-size: 22px;
}

.header__user {
    display: none;
}

.header__open {
    display: none;
}

.nav {
    background-color: rgb(243, 188, 38);
    width: 100%;
}

.nav__lista {
    height: 3vh;
}

.nav__item {
    margin-left: 60px;
    margin-right: 5px;
}

.nav__item--close {
    display: none;
}

.nav__location {
    font-size: 20px;
    margin-left: 5px;
}

ul {
    list-style: none;
    font-size: 0;
}

li {
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 1rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
    background-color: rgb(243, 188, 38);
}

/* Main */

.banner {
    width: 100%;
    height: 700px;
    padding-top: 190px;
}

.promociones {
    width: 100%;
    min-height: 15vh;
    padding: 2rem;
}

.promociones__icono {
    font-size: 40px;
    display: block;
    text-align: center;
}

.promociones__texto {
    display: block;
    margin-top: 1rem;
    text-align: center;
}

.alineado {
    background-color: rgba(227, 238, 240, 255);
}

.alineado__hijo {
    display: inline;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
}

.flex {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex__contenedor {
    border: 0.2rem solid rgb(207, 205, 205);
    width: 290px;
    height: 450px;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
    transition: all 0.5s;
}

.flex__contenedor:hover {
    transform: scale(1.1, 1.1);
}

.flex__imagen {
    width: 100%;
    height: 270px;
}

.flex__imagen--1 {
    width: 170px;
    height: 270px;
    display: block;
    margin: auto;
}

.flex__texto {
    text-align: center;
    display: block;
    margin: 1rem 0 1rem 0;
}

.flex__precio {
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 1rem 0 1rem 0;
    font-size: 20px;
}

.flex__boton {
    display: block;
    margin: auto;
    border-radius: 8px;
    border-radius: 5px;
    padding: 0.3rem;
    background-color: #a0a8a7;
    color: white;
}

.flex__boton:hover {
    background-color: rgb(26, 20, 20);
}

.compra {
    padding: 2rem;
    width: 100%;
    min-height: 15vh;
}

.compra__icono {
    font-size: 50px;
    display: block;
    text-align: center;
}

.compra__casa {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

.compra__texto {
    display: block;
    margin-top: 1rem;
    text-align: center;
}

.form {
    background-color: rgba(227, 238, 240, 255);
    width: 100%;
    min-height: 14vh;
    padding: 1rem;
}

.form__input {
    width: 400px;
    margin-right: 40px;
    margin-left: 50px;
}

.form__checkbox {
    padding: 0.4rem;
    margin-left: 2rem;
}

.form__button {
    border-radius: 5px;
    padding: 0.3rem;
    background-color: #a0a8a7;
    color: white;
}

.form__button:hover {
    background-color: rgb(26, 20, 20);
}

.container__form {
    margin: 0;
    padding: 1rem 0;
}

.opiniones {
    width: 100%;
    min-height: 60vh;
}

.opiniones__titulo {
    text-align: center;
    padding-top: 2rem;
    font-size: 25px;
    font-weight: bold;
}

.opiniones__cuadro {
    width: 250px;
    min-height: 350px;
    border: 0.2rem solid rgb(207, 205, 205);
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    margin: 2rem 2.5rem;
}

.opiniones__nombre {
    font-size: 18px;
    font-weight: bold;
}

.opiniones__imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1rem 0 1rem 0;
    border-radius: 10rem;
}

.opiniones__estrellas {
    margin: 1rem 0 1rem 0;
}

.opiniones__msj {
    margin: 1rem 0 1rem 0;
}

.opiniones__fecha {
    font-size: 13px;
    color: rgb(94, 94, 94);
}

.whatsapp{
    position: fixed;
    z-index: 10;
    bottom: 50px;
    right: 70px;
}

.whatsapp__imagen{
    width: 70px;
}

/* Footer */

.footer {
    background-color: #fcc757;
    width: 100%;
    min-height: 45vh;
}

.footer__padre {
    display: flex;
    justify-content: space-around;
}

.footer__grupo {
    width: 200px;
    height: 200px;
    margin: 1.5rem;
}

.footer__grupo--1 {
    width: 200px;
    height: 200px;
    margin: 1.5rem;
}

.footer__logo {
    width: 200px;
    height: 150px;
}

.footer__iconos {
    font-size: 30px;
    text-align: center;
}

.footer__enlace {
    display: block;
    text-align: left;
    margin: 1rem 0 1rem 0;
}

.nav__menu--1 {
    display: none;
}

/* Main Sucursales*/

.sucursales {
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 20vh;
    background-color: rgb(240, 240, 240);
}

.sucursales__titulo {
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
}

.sucursales__parrafo {
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.sucursales__localidades {
    padding-left: 5rem;
    margin-top: 1rem;
}

.sucursales__mapa {
    max-height: 450px;
}

.sucursales__subtitulo {
    font-size: 20px;
    font-weight: bold;
}

.sucursales__dire {
    font-size: 16px;
    font-weight: 700;
    margin: 1rem 0;
}


/*Main Ayuda*/

.ayuda {
    background-color: rgb(240, 240, 240);
    padding-top: 200px;
    padding-bottom: 60px;
    min-height: 95vh;
    width: 100%;
}

.ayuda__titulo {
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
}

.ayuda__contenedor {
    margin: 2rem;
}

.ayuda__texto {
    text-align: left;
    max-width: 600px;
    min-height: 300px;
    line-height: 1.6;
    padding: 1rem;
}

.ayuda__imagen {
    max-width: 100%;
    min-height: 350px;
}

.preguntas-frecuentes {
    text-align: center;
    color: rgb(49, 49, 49);
    min-height: 65vh;
}

.preguntas-frecuentes__titulo {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 2rem;
}

.accordion-item {
    background-color: #fcc757;
}

.legales {
    background-color: rgb(240, 240, 240);
    padding: 2rem 5rem;
    font-size: 14px;
}

.legales__titulo {
    font-size: 16px;
    font-weight: 700;
}

/*Main Cuenta*/

.cuenta{
    padding-top: 250px;
}

.cuenta__formulario {
    border: 0.5rem solid rgb(240, 240, 240);
    padding: 0.5rem;
    width: 400px;
    height: 470px;
    text-align: center;
    line-height: 2.5;
    margin: auto;
}

.btn-primary {
    background-color: rgba(58, 87, 147, 255);
    border-color: rgba(58, 87, 147, 255);
    font-size: 14px;
}

.facebook {
    margin-right: 0.5rem;
    font-size: 18px;
}

.cuenta__titulo {
    font-size: 20px;
    margin: 1rem 0;
}

.cuenta__enlace {
    line-height: 1.5;
    margin-top: 1rem;
}

/*Main Gatos y perros*/

.padding--top {
    padding-top: 190px;
}

.flex {
    padding: 1rem;
    min-height: 100px;
    width: 100%;
}

.flex2 {
    padding: 1rem;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.servicios {
    width: 50%;
    min-height: 400px;
    padding: 1rem;
    text-align: center;
    line-height: 1.6;
}

.servicios__titulo {
    background-color: rgb(240, 240, 240);
    font-size: 25px;
    font-weight: bold;
}

.servicios__separacion {
    margin: 1rem;
}

.accordion-item--1 {
    background-color: #ffffff;
}

.titulos {
    padding: 1rem;
    background-color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}

.contenedor {
    width: 340px;
    height: 400px;
    padding: 1rem;
    margin: 3rem 1rem;
    border: 0.2rem solid rgb(207, 205, 205);
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
    transition: all 0.5s;
}

.contenedor:hover {
    transform: scale(1.1, 1.1);
}

.marca {
    padding: 1rem;
}

.marca__imagen {
    width: 200px;
    height: 150px;
}

.juguetes {
    width: 100%;
    min-height: 55vh;
    padding: 2rem;
}

.juguetes__imagen {
    width: 100%;
    height: 180px;
}

.contenedor--1 {
    width: 340px;
    min-height: 450px;
    padding: 1rem;
    margin: 3rem 1rem;
    border: 0.2rem solid rgb(207, 205, 205);
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
    transition: all 0.5s;
}

.contenedor--1:hover {
    transform: scale(1.1, 1.1);
}

.camas__imagen {
    width: 100%;
    height: 200px;
}


@media screen and (max-width: 1023px) {}






@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    /*Header */

    .nav {
        background-color: #fcc757;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px 40px;
        grid-template-areas:
            "menu-bar    menu-bar logo    user    carrito  ."
            "input       input    input   input   input    input";
        align-items: center;
        width: 100%;
    }

    .nav__menu-bar {
        display: block;
        font-size: 20px;
        grid-area: menu-bar;
        justify-self: center;
    }

    .nav__logo {
        width: 130px;
        height: 100px;
        grid-area: logo;
    }

    .nav__user {
        display: block;
        grid-area: user;
        justify-self: end;
        font-size: 20px;
    }

    .nav__menu {
        display: none;
    }

    .nav__cuenta {
        display: none;
    }

    .nav__carrito {
        grid-area: carrito;
        font-size: 20px;
    }

    .nav__input {
        grid-area: input;
        width: 300px;
    }

    #menu {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        transition: right 1s;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nav__lista {
        color: rgb(255, 255, 255);
    }

    #menu:target {
        right: 0;
    }

    .nav__lista--close {
        display: block;
    }

    /* Main */

    .banner {
        width: 100%;
        height: 300px;
        padding-top: 140px;
    }

    .promociones {
        min-height: 15vh;
        padding: 1rem;
    }

    .promociones__icono {
        font-size: 20px;
    }

    .alineado__hijo {
        margin-left: 10px;
        font-size: 18px;
    }

    .flex {
        min-height: 30vh;
    }

    .flex__contenedor {
        border: 0.2rem solid rgb(207, 205, 205);
        width: 150px;
        height: 250px;
        padding: 0.5rem;
        margin: 1rem;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
        transition: all 0.5s;
    }

    .flex__imagen {
        height: 130px;
    }

    .flex__imagen--1 {
        width: 80px;
        height: 130px;
    }

    .flex__texto {
        margin: 0.5rem 0;
    }

    .flex__precio {
        margin: 0.5rem 0;
        font-size: 14px;
    }

    .compra {
        min-height: 10vh;
    }

    .compra__icono {
        font-size: 20px;
    }

    .compra__casa {
        width: 20px;
        height: 20px;
    }

    .compra__texto {
        margin: 1rem 0;
    }

    .opiniones {
        display: none;
    }

    .form {
        padding: 5px;
        min-height: 12vh;
    }

    .form__input {
        width: 100%;
        margin: 0.5rem 0 0.5rem 0.1rem;
    }

    .form__checkbox {
        padding: 0;
        margin: 0.8rem 0 0.5rem 1rem;
    }

    .container__form {
        padding: 1rem;
    }


    /* Footer */

    .footer {
        min-height: 55vh;
    }

    .footer__padre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fcc757;
    }

    .footer__grupo {
        width: 130px;
        height: 130px;
        align-self: center;
    }

    .footer__grupo--1 {
        display: none;
    }

    .footer__logo {
        width: 120px;
        height: 90px;
    }

    .footer__iconos {
        font-size: 15px;
        text-align: center;
    }

    .nav__menu--1 {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        align-self: center;
    }

    .footer__grupo--2 {
        width: 300px;
        line-height: 1;
        align-self: flex-start;
    }

    .enlace {
        display: flex;
        flex-direction: column;
    }

    /*Main Ayuda*/

    .ayuda {
        padding-top: 8rem;
    }

    .ayuda__titulo {
        padding-top: 2rem;
    }

    .ayuda__container {
        height: fit-content;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .ayuda__texto {
        width: 100%;
        height: fit-content;
    }

    .ayuda__imagen {
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
    }

    /*Main Cuenta*/

    .cuenta {
        width: 90%;
        height: 55vh;
    }

    .cuenta__input {
        width: 100%;
    }

    /* Main Sucursales*/

    .sucursales {
        padding-top: 7rem;
        padding-bottom: 2rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        min-height: 15vh;
    }

    .sucursales__titulo {
        font-size: 18px;
    }

    .sucursales__parrafo {
        margin: 2rem 0;
    }

    .sucursales__localidades {
        padding-left: 0;
        margin-top: 1rem;
    }

    .sucursales__mapa {
        height: 250px;
    }

    .sucursales__subtitulo {
        font-size: 15px;
    }

    .sucursales__dire {
        font-size: 12px;
    }

    /*Main Perros y gatos*/

    .titulos {
        font-size: 15px;
    }

    .padding--top {
        padding-top: 8rem;
    }

    .marca__imagen {
        width: 100px;
        height: 80px;
    }

    .contenedor {
        width: 220px;
        height: 260px;
        padding: 1rem;
        margin: 1rem;
        border: 0.2rem solid rgb(207, 205, 205);
        box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
        transition: all 0.5s;
    }

    .juguetes {
        width: 100%;
        min-height: 50vh;
        padding: 0.5rem;
    }

    .juguetes__imagen {
        height: 90px;
    }

    .juguetes {
        width: 100%;
        min-height: 55vh;
        padding: 2rem;
    }

    .contenedor--1 {
        width: 220px;
        min-height: 260px;
        padding: 1rem;
        margin: 1rem;
    }

    .camas__imagen {
        height: 100px;
    }

    .flex2 {
        padding: 1rem;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .servicios {
        width: 100%;
    }

    .servicios__imagen {
        width: 90%;
    }
}