.padding--top {
    padding-top: 180px;
}

.flex {
    min-height: 30vh;
    margin: 3rem 0;
}

.flex2 {
    padding: 1rem;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulos {
    padding: 1rem;
    background-color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}

.marca {
    padding: 1rem;

    &__imagen {
        width: 150px;
        height: 110px;
    }
}

.juguetes {
    width: 100%;
    min-height: 30vh;

    &__imagen {
        width: 100%;
        height: 180px;
    }
}

.camas__imagen {
    width: 100%;
    height: 200px;
}

.camas__imagen--1 {
    width: 90%;
    height: 200px;
    padding-left: 1.6rem;
}

.productos__enlace {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 3rem;
}

/*Extend Gatos-Perros*/

.contenedor {
    width: 85%;
    min-height: 20vh;
    padding: 1rem;
    margin: 3rem;
    border: 0.2rem solid rgb(207, 205, 205);
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
    transition: all 0.5s;

    &:hover {
        transform: scale(1.1, 1.1);
    }
}