.productos {
    padding-top: 220px;
    min-height: 100vh;

    &__titulo {
        text-align: center;
        font-weight: bold;
    }

    &__parrafo {
        text-align: center;
        margin: 2rem 0 4rem 0;
    }

    &__subtitulo {
        color: rgb(29, 31, 131);
        font-weight: bold;
    }

    &__ul {
        display: flex;
        flex-direction: column;
    }

    &__lista {
        font-size: 14px;
        width: fit-content;


        &:hover {
            text-decoration: underline;
            color: black;
            cursor: pointer;
        }
    }

    &__cantidad {
        color: gray;
    }

    &__separacion {
        border-bottom: 0.1rem solid rgb(204, 204, 204);
        margin-bottom: 0.8rem;
    }

    ul {
        padding-left: 0;
    }

    .card {

        &__imagen {
            width: 35%;
            height: 50%;
            margin: auto;
            padding-top: 1rem;
        }

        &__titulo {
            color: rgb(102, 101, 101);
        }

        &__texto {
            font-size: 15px;
        }

        &__precio {
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 23px;
            margin-bottom: 1rem;
        }

        &__boton {
            margin-left: 50%;
            translate: -50%;
        }
    }
}

#alimentoSeco:checked~#imagenes .alimentoHumedo {
    display: none;
}